[Unit]
Description=Your Java App
After=network.target

[Service]
ExecStart=/usr/bin/java -jar {{ app_dir }}/{{ app_file | basename }}
User=nobody
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
